<!doctype html>
<html>
  <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    	<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.css" type="text/css" />
		<script>
			function goBack() {
    		window.history.back()
			}
		</script>

		<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
    {{ script | safe }}
  </head>
  <body>
    <div class=page>
		<center>
			<h1><b>Closing Prices of {{ ticker }} from Quandle WIKI set</b></h1>

      {{ div | safe }}

			<button onclick="goBack()">Go Back</button>
		</center>
		</div>
  </body>
</html>