<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>TDI 12-Day MileStone Project</title>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> 
	</head>
	<body>
	<center>
		<form method="POST" action="/prices">
			<h1><b>Plotting Interface for Closing Prices of Stock Ticker Testing</b></h1>
			<h3>Please enter a stock ticker in the box below (eg. GOOG).</h3>
			Ticker Symbol: <input type ="text" name="tsymbol">
		<input type="submit">
	</center>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>